.container {
    height: 100%;
}

.main_container {
    height: 65%;
    background-image: url("./CandidOldDuiker-size_restricted.gif");
    background-repeat: no-repeat;
    background-size: cover;
}